.buscador{
    margin-left: 400px;
    width: 60%;
}
.h5busc{
    margin-left: 450px;
  }

@media only screen and (max-width: 450px) {
   .buscador{
    margin-left: 50px;
    height: 70px;
    width: 80%;
   }
  .h5busc{
    margin-left: 150px;
  }
  }