

/* @media only screen and (max-width: 450px) {
   .buscador{
    margin-left: 0px;
    height: 60px;
    width: 350px;
   }
  .h5busc{
    margin-left: 10px;
    margin-bottom: 50px;
  }
  .img{
    width: 100%;
  }
  .cardss{
    margin-top: 250px;
    margin-left: 30px;
  }
  .boton{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 250px;
    margin-left: 50px;
  }
  .load{
    margin-left: 150px;
    margin-top: 30px;
  }
  } */

  /* @media only screen and (max-width: 395px) {
    .buscador{
     margin-left: -13px;
     height: 60px;
     width: 350px;
    }
   .h5busc{
     margin-left: 0px;
     margin-bottom: 40px;
     
     font-family: Arial, Helvetica, sans-serif;
   }
   .img{
     width: 100%;
   }
   .cardss{
     margin-top: 200px;
     margin-left: 10px;
   }
   .boton{
    margin-left: 33px;
   }
   .h3contact{
    font-size: 20px;
    text-align:justify;
    
    font-family: Arial, Helvetica, sans-serif;
   }
   .whats{
    margin-left: 60px;
    margin-bottom: 100px;
   }
   } */

   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
    .buscador{
   
      height: 60px;
      width: 330px;
     }
    .h5busc{
      margin-left: 0px;
      margin-bottom: 40px;
      
      font-family: Arial, Helvetica, sans-serif;
    }
    .img{
      width: 90%;
    }
    .cardss{
      margin-top: 200px;
      
    }
    
    .h3contact{
      
   
     font-size: 20px;
     margin-top: 200px;
    
    
     
     font-family: Arial, Helvetica, sans-serif;
    }
    .whats{
      justify-content: center!important;
     margin-bottom: 100px;
     justify-content: center;
    }
    .boton{
      margin-top: 30px;
      margin-bottom: 20px;
      width: 250px;
      
    }
  }