.buscador{
    margin-left: 400px;
    width: 60%;
}
.h5busc{
    margin-left: 450px;
  }

@media only screen and (max-width: 450px) {
   .buscador{
    margin-left: 25px;
    height: 60px;
    width: 350px;
   }
  .h5busc{
    margin-left: 150px;
  }
  .img{
    width: 100%;
  }
  .cardss{
    margin-top: 100px;
    margin-left: 50px;
  }
  }