.link, .h{
text-decoration: none;
color: black;
}
.card{
    width: 250px;
    
}
.h4c{
    color: blue;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .card{
        width: 270px!important;
    
        
    }
}